@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    height: 100vh;
    background:rgb(39, 39, 39);
    font-family: "Roboto", sans-serif;
    color:whitesmoke
}

.absolute-center {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}


