@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url('/fonts/roboto.ttf');
}

body {
    height: 100vh;
    background:rgb(39, 39, 39);
    font-family: "Roboto", sans-serif;
    color:whitesmoke
}

.absolute-center {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}


